/* Styles for the container holding the content */
.container {
  width: 70%; /* Set the container width to 70% of its parent element */
  margin: auto; /* Center the container horizontally */
  text-align: center; /* Center the text content within the container */
}

/* Styles for the dice element */
.dice {
  text-align: center; /* Center the text content within the dice element */
  display: inline-block; /* Make the dice element an inline block */
}

/* Styles for the gradient background animation */
.gradient-background {
  background: linear-gradient(300deg, #12486B, #419197, #78D6C6); /* Create a gradient background with three colors */
  background-size: 180% 180%; /* Set the background size to 180% to create the animation effect */
  animation: gradient-animation 18s ease infinite; /* Apply the gradient animation to the background */
}

/* Keyframes for the gradient animation */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%; /* Start position of the gradient animation */
  }
  50% {
    background-position: 100% 50%; /* Middle position of the gradient animation */
  }
  100% {
    background-position: 0% 50%; /* End position of the gradient animation */
  }
}

/* Styles for the h1 (heading) element */
h1 {
  margin: 30px; /* Set margin around the heading */
  font-family: 'Pixelify Sans', sans-serif; /* Specify the font family for the heading */
  text-shadow: 5px 0 #232931; /* Add a text shadow to the heading */
  font-size: 5rem; /* Set the font size for the heading */
  color: #F5E8B7; /* Set the text color for the heading */
}

/* Styles for paragraphs */
p {
  font-size: 2rem; /* Set the font size for paragraphs */
  color: #F5E8B7; /* Set the text color for paragraphs */
  font-family: 'Pixelify Sans', cursive; /* Specify the font family for paragraphs */
}

/* Styles for images */
img {
  width: 80%; /* Set the width of images to 80% of their parent container */
}

/* Styles for the footer */
footer {
  margin-top: 5%; /* Add margin to the top of the footer */
  color: #EEEEEE; /* Set the text color for the footer */
  text-align: center; /* Center the text content within the footer */
  font-family: 'Pixelify Sans', Times, serif; /* Specify the font family for the footer */
}
